.example-icon {
  padding: 0 14px;
}
.example-spacer {
  flex: 1 1 auto;
}

button {
  border: 0px;
  background: transparent;
  cursor: pointer;
}

.mat-toolbar {
  background: white;
  border: 0px;
  border-bottom: 2px #e5e5e5 solid;
  color: #525252;
}
