<div class="formCenter">
  <main class="form-signin">
    <form [formGroup]="myForm" (submit)="forgotPassword()">
      <h1 style="text-align: center">Forgot Password</h1>

      <mat-form-field class="example-full-width">
        <mat-label>E-mail</mat-label>
        <input
          formControlName="email"
          required
          type="email"
          matInput
          placeholder="Email"
        />
      </mat-form-field>

      <div style="text-align: right; margin-bottom: 10px">
        <a routerLink="/">Back</a>
      </div>
      <div style="text-align: center">
        <button type="submit" mat-raised-button color="primary">Send</button>
      </div>
    </form>
  </main>
</div>
