<div class="formCenter">
  <main class="form-signin">
    <form [formGroup]="myForm" (submit)="changePassword()">
      <h1 style="text-align: center">Change password</h1>

      <mat-form-field class="example-full-width">
        <mat-label>Password</mat-label>
        <input
          formControlName="password1"
          required
          type="password"
          matInput
          placeholder="Password"
        />
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Your password again</mat-label>
        <input
          formControlName="password2"
          required
          type="password"
          matInput
          placeholder="Password"
        />
      </mat-form-field>
      <div style="text-align: right">
        <a style="margin-right: 10px" routerLink="/">Back</a>
        <button type="submit" mat-raised-button color="primary">Change</button>
      </div>
    </form>
  </main>
</div>
